.container{position: absolute;top:0;bottom: 0;width: 100%;}
.textColor{color:red;}
#root .logo {
    height: 32px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    font-weight: bold;
    color: white;
}
